// $varables: valor; 
// - tyene scout 
// - Interpolacion: saca hijo del padre  @at-root p{color: $tomato_1;}


//               Ejempl0:
// $var: 2;
// $company: youtube;

// .div-#{$company}:nth-child(#{$var}){
//  background: red;
//  &::before {
//    content: "Bienvenido a #{$company}";
//  }
// }


/* Varables Colores
===================================================*/

//colores
$rojo:       #932e30;
$azul:       #2e8b9b;
$verde:      #a3bd31;
$naranja:    #d37c32;
$amarillo:   #F29100;
$blanco:     #ffffff;
$negro:      #000000;
$gris:       #4c4c4c;

$whatsapp:   #65a445;
$facebook:   #253a81;
$instagram:  #38619f;
$mail:       #2e8b9b;


/* Path Sass
===================================================*/
$path-fonts: '../../components/fonts/';
$path-img: '../images/';

/*=== font-awesome ===*/
// Impotar css min
//$fa-font-path:        "../fonts" !default;  